<!DOCTYPE html>
<html>
  <meta name="csrf-token" content="{{ .csrfToken }}">
  <style>
    body {
      position: absolute;
      top: 0px;
      bottom: 20px;
      left: 0px;
      right: 20px;
      margin: 0px;
      padding-top: 20px;
      padding-left: 20px;
      background-color: #1c1c1c;
    }
    #terminal {
      height: 100%;
    }
  </style> 
  <body>
    <script src="{{ .assetsBaseURL }}js/index.js?v={{ .assetsVersion }}"></script>
    <div id="terminal"></div>
  </body>
</html>
